body{
	padding-top: 60px;
}
h3 {
	letter-spacing: -1px;
}
.container {
	/*width:980px;*/
}
.item-wrap {
	/*border:1px solid #ddd;*/
	padding-bottom: 30px;
}
.item {
	/*background-color: #eee;*/
	border-bottom: 3px solid #eee;
/*	-webkit-border-radius: 12px;
	        border-radius: 12px;*/
	margin-top:5px;
	margin-bottom:5px;

}
.item blockquote{
	/*border-color:#999;*/
	margin:3px 10px 0 10px;
	letter-spacing: -1px;
	
}
.item a.time {
	color:#999;
	padding-left: 10px;
}

.item .article {
	/*font-size:120%;*/
	/*margin: 10px 0;*/
	padding: 5px 20px 0px 10px;
	/*border-top:3px solid #ddd;*/
	/*clear:both;*/
	/*padding-top:10px;*/
}

.item .comment {
	margin-bottom: 10px;
}
.item .comment a:first-child {
	margin-left: 10px;
}
.item .label-wrap {
	text-align: right;
}
.item .label-wrap span:last-child {
	margin-right: 10px;
}



